@model IEnumerable<ChatForumApp.Data.Models.Comment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-success text-center">Welcome to Chat Forum</h1>


<table class="table text-center">

    @foreach (var comment in Model)
    {
        <tr>
            <td>
                <span style="margin-right: 15px; font-size: 23px; color: dodgerblue;">
                    @comment.User.UserName:
                </span>
                <span style="font-size: 22px;">
                    @comment.Content
                </span>
                <span style="margin-left: 15px; color: gray; font-size: 14px;">
                    @comment.CreatedOn
                </span>
                @foreach (var reply in comment.Replies)
                {
                    <br />
                    <span style="margin-right: 15px; font-size: 17px; color: dimgray;">
                        @reply.User.UserName:
                    </span>
                    <span style="font-size: 20px;">
                        @reply.Content
                    </span>
                    <span style="margin-left: 15px; color: gray; font-size: 14px;">
                        @reply.CreatedOn
                    </span>
                }
                <br />
                @using (Html.BeginForm("PostReply", "ChatForum", FormMethod.Post))
                {
                <input style="border-radius: 6px; width: 400px; height: 35px; font-size: 18px" type="text" name="Content" />
                <br />
                <input type="hidden" name="CommentId" value="@comment.Id" />
                <input type="submit" value="Reply" class="btn btn-primary" style="margin-top: 10px" />
                }

            </td>
        </tr>
    }
</table>
